
// Colors
$white: #FFFFFF;
$white2: #F9FAFC;
$white3: #E3E3E3;
$black: #000000;
$black2: #070707;
$black3: #080808;
$light-gray: #B2B2B2;
$dark-gray: #1A1A1A;
$gradient-gray: linear-gradient(to right, #919191, #E9E9E9);
$blue-gray: #E2E6EE;
$blue-gray2: #E2E6EF;
$medium-gray: #585454;
$indigo: #5245DD;
$yellow: #FFD400;
$dark-gray-2: #767678;
$dark-gray-3: #1B1B1B;
$light-gray-3: #B4B4B4;
$purple: #C07FF2;
$light-blue: #74B7FE;
$aqua: #09AFF4;
$grey: #414141;
$grey2: #C8C8C8;
$grey3: #B5B5B5;
$grey4: #F3F3F6;
$grey5: #464648;
$grey6: #929292;
$grey7: #262626;
$grey8: #636363;
$grey9: #383838CC;